.parent{
    display: flex;

    /* row/row-revere/column/column-reverce */
    flex-direction: row;

    /* wrap/nowrap */

    flex-wrap: nowrap;

    /* start/center/end/space-evenly/space-between/space-arround */
    /* justify-content:space-evenly; */

    background-color: antiquewhite;

    height: 500px;

    /* flex-start/flex-end/center */
    /* align-items: center; */

    /* align-content: flex-end; */
}

.parent>div{
    height: 200px;
    width: 10%;
}

.child-1{
    background-color:blueviolet;
    /* order: 1; */
    align-self: center;
}

.child-2{
    background-color:blue;
    order: 2;  

    align-self:flex-start;
}

.child-3{
    background-color:red;
    order: 3; 
    align-self: center;
}

.child-4{
    background-color:black;
    order: 4; 
    align-self: flex-end;
}

.center{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 900;
}